.App {
	min-height: 100vh;
	position: relative;
	padding-bottom: 6rem;
}

main {
	padding: 4rem 0;
}

.main-container {
	display: flex;
}

.main-left {
	padding-right: 3rem;
}

h2 {
	font-weight: bold
}


/* button:hover,
button:focus {
	background-color: #4a99e4;
} */