.currentWeather-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.currentWeather {
	display: flex;
	justify-content: center;

	padding: 3rem 0;
}

.currentWeather-right {
	display: flex;
	flex-direction: column;
}

.description {
	text-transform: capitalize;
}