footer {
	background-color: #4b545d;
	position: absolute;
	bottom: 0;
	width: 100%;

}

.footer-container {
	padding: 2.4rem 0;
	color: white;

	display: flex;
	justify-content: space-between;
}

footer a {
	text-decoration: underline;
}

footer a:hover,
footer a:focus {
	opacity: 50%;
}