header {
	background-color: #bed6ec;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 3rem 0;
}

.right {
	display: flex;
}

h1 {
	font-size: 4rem;
}

.searchBar {
	padding-left: 2rem;
}