header {
	background-color: #b7d6f3;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 16rem;
}

.header-right {
	display: flex;
	align-items: center;

	position: relative;

	height: 100%;
}

h1 {
	font-size: 4rem;
	font-weight: bold;

}

h1 span {
	font-weight: normal;
}

h1 a {
	display: flex;
	align-items: center;
}

.searchBar {
	padding-left: 2rem;
}