.forecast-hourly-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 4rem 0;
	margin: 0 auto;
}

.forecast-hourly {
	display: grid;
	grid-template-columns: repeat(14, minmax(5.5rem, 1fr));
	grid-template-rows: 1fr;

	padding-top: 1rem;
}

.forecast-hour {
	padding: 0.5rem;
	text-align: center;
}

.forecast-hourly button {
	padding: 1rem;
}

.forecast-hourly button.disabled {
	opacity: 0.2;
}

.forecast-hourly button:not(.disabled):hover,
.forecast-hourly button:not(.disabled):focus {
	background-color: #5f92cc;
	color: white;
}

.forecast-hourly button:not(.disabled):active {
	color: black;
}