.LocationList {
	border: 3px solid #b7d6f3;
	border-radius: 2rem;

	margin-bottom: 2rem;

	overflow: hidden;
}


.LocationList-remove {
	padding: 0.5rem 0.5rem 0.5rem 1rem;

}

.LocationList-remove:hover,
.LocationList-remove:focus {
	background-color: #e93232;
	color: white;
}

.LocationList-remove:active {
	color: black;
}


.LocationList h3 {
	font-weight: bold;
	letter-spacing: 0.05em;
	text-align: center;


	padding: 1.5rem;
}

.LocationList-loc {
	/* border: 1px solid grey; */

	display: flex;
	align-items: center;
	justify-content: space-between;

	/* padding: 1rem; */
}

.LocationList p {
	text-align: center;
	padding: 1rem;
}

.LocationList-loc button {
	padding: 1.5rem 2rem;
}

.LocationList-select {
	text-align: left;
	width: 100%;
}

.LocationList-select:hover,
.LocationList-select:focus {
	background-color: #5f92cc;
	color: white;
}

.LocationList-select:active {
	color: black;
}

.LocationList li {
	width: 100%;
}

/* .LocationList-loc:nth-child(odd) {
	background-color: #e9f3ff;
} */

.LocationList .selected {
	background-color: #e9f3ff;
}