
	.MapComponent {
		padding-top: 2rem;
	}
	
	.leaflet-container {
			width: calc(10rem + 20vw);
			height: 30rem;
			background-color:transparent;
	}

	.mapLayer {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.mapLayer label {
		padding-left: 1rem;
	}

	.mapLayer-control {
		padding: 0.3rem 0;
	}

	.mapLayer input {
		position: absolute;
		opacity: 0;
	}

	.mapLayer label {
		text-align: center;

		display: inline-block;
		width: 11.5rem;

		cursor: pointer;

		padding: 0.5rem 1rem;

		background-color: #e9f3ff;
		border: 2px solid #e9f3ff;
		border-radius: 1.5rem;
	}

	.mapLayer input:checked + label {
		border: 2px solid #5f92cc;
	}

	.mapLayer label:hover,
	.mapLayer input:focus + label {
		background-color: #5f92cc;
		color: white;
	}

	.mapLayer input:active + label {
		color: black;
	}