.forecast-week-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 1rem;
}

.forecast-week {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr;

	padding: 1rem 0;
}

.forecast-day {
	/* display: flex; */
	text-align: center;

	padding: 1rem;

	/* width: calc(100% / 7); */
}

.forecast-date {
	font-size: 1.8rem;
}

.forecast-day .description {
	font-size: 1.6rem;
	text-transform: capitalize;
	padding-bottom: 0.5rem;
}