.forecast {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forecast-day {
	/* display: flex; */
	text-align: center;

	padding: 1rem;

	width: calc(100% / 7);
}

.forecast-week {
	display: flex;
}